@use '../helpers' as *;

.burger-button {
    display: none;
    width: 34px;
    height: 34px;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    padding: 8.5px 4.25px;
    color: var(--color-light);
    background-color: transparent;
    border: none;

    @media (max-width: 768px) {
        display: flex;
    }

    @include hover {
        color: var(--color-surface-accent);
    }

    &.is-active {
        color: var(--color-text-primary);
        .burger-button__line {
            background-color: var(--color-text-primary);
            &:first-child {
                rotate: 45deg;
                transform-origin: 0;
                translate: 0.25em -0.1em;
            }

            &:nth-child(2) {
                rotate: -45deg;
            }

            &:last-child {
                width: 0;
            }
        }
    }

    &__line {
        background-color: var(--color-light);
        width: 100%;
        height: 2px;
        border-radius: 1px;
        transition-duration: var(--transition-duration);

        &:last-child {
            width: 55%;
            align-self: flex-end;
        }
    }
}