@use '../helpers' as *;

.gold-button {
    background-color: var(--color-surface-accent);
    color: var(--color-text-primary);
    min-height: 50px;
    padding: 0.455em 1.145em;
    text-align: center;
    font-family: var(--font-base);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-thin);
    text-transform: uppercase;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;

    @include hover {
        background: transparent;
        border: 1px solid var(--color-light);
        color: var(--color-light);
    }
}

.border-button {
    color: var(--color-light);
    background-color: transparent;
    border: 1px solid var(--color-light);
    min-height: 50px;
    padding: 0.455em 1.145em;
    text-align: center;
    font-family: var(--font-base);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-thin);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;

    @include hover {
        background-color: var(--color-surface-accent);
        border: 1px solid var(--color-surface-accent);
        color: var(--color-text-primary);
    }
}

.border-button-black {
    color: var(--color-text-primary);
    background-color: transparent;
    border: 1px solid var(--color-text-primary);
    min-height: 50px;
    padding: 0.455em 1.145em;
    text-align: center;
    font-family: var(--font-base);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-thin);
    text-transform: uppercase;
       display: flex;
    align-items: center;
    justify-content: center;

    @include hover {
        background-color: var(--color-surface-accent);
        border: 1px solid var(--color-surface-accent);
        color: var(--color-text-primary);
    }
}