@use '../helpers' as *;

.consultation-banner {
    width: 282px;
    height: 420px;
    flex-shrink: 0;
    background: linear-gradient(270deg, rgba(255, 242, 207, 0.30) 0%, rgba(236, 214, 180, 0.30) 100%);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.10);
    padding: 2.667em 1.133em;

    &__title {
        text-align: center;
        color: var(--color-text-primary);
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-light);
        text-transform: uppercase;
        margin-bottom: 1em;
    }

    &__text {
        text-align: center;
        font-size: var(--font-size-s);
        margin-bottom: 1.667;
    }

    &__socials {
        margin: 0 0 2em 0;
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 10px;

        &-item {
            margin: 0;
            list-style: none;
        }
    }

    &__text-list {
        margin: 0 0 2em 0;
        padding: 0;

        &-item {
            padding: 0.333em 0;
            margin: 0;
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: var(--font-size-s);
            border-bottom: 1px solid var(--color-text-primary);

            &:nth-of-type(1) {
                padding-top: 0;
            }

            &::before {
                content: '';
                display: block;
                width: 24px;
                height: 24px;
                background-image: url('../icons/list-dot.svg');
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }

    &__link {
        width: 100%;
        padding: 0.867em 1em;
        background: linear-gradient(90deg, #ECD6B4 32.46%, #FFF2CF 100%), linear-gradient(90deg, #ECD6B4 0%, #FFF2CF 100%);
        text-transform: uppercase;
        font-size: var(--font-size-l);
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}