@use '../helpers' as *;

.doctors-quironsalud {


    &__body {
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap);
        margin-bottom: 2.333em;
    }

    &__card {
        flex: 0 0 calc(33.33% - (48px / 3));
        flex-direction: column;
        gap: var(--gap);
        border: none;

        @media (max-width: 992px) {
            flex: 0 0 calc(50% - (24px / 2));
        }

        @media (max-width: 768px) {
            flex: 1 1 100%;
        }

        &-box {
            display: flex;
            gap: 10px;
        }


        .doctors__card-content {
            padding: 0 0 0 0.667em;
        }
    }

    &-lead {
        margin: 0 auto;
    }
}