@use '../helpers' as *;

.faq {

    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__body {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }

    &__tabs {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        justify-content: space-between;

        @media (max-width: 992px) {
            justify-content: flex-start;
        }
    }

    &__tab-button {
        font-size: var(--font-size-xl);
        text-transform: uppercase;
        background: transparent;
        border: none;
        color: var(--color-text-primary);
        border-bottom: none;
        white-space: nowrap;
        display: flex;
        flex-direction: column;
        gap: 10px;
        transition-duration: var(--transition-duration);

        @media (max-width: 576px) {
            font-size: var(--font-size-sm);
        }

        &::after {
            content: "";
            height: 1.5px;
            width: 0;
            background: var(--color-accent);
            transition-duration: var(--transition-duration);
        }

        &.active {
            color: var(--color-accent);
            font-weight: var(--font-weight-light);

            &::after {
                width: 100%;
            }
        }

        @include hover {
            color: var(--color-accent);

            &::after {
                width: 100%;
            }
        }
    }

    &__tab-content {
        display: block;

        &:not(.active) {
            display: none;
        }

        &-button {
            display: flex;
            flex-direction: column;
            gap: var(--small-gap);
        }
    }

    &__accordion-header {
        max-width: 486px;
        width: 100%;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: transparent;
        border: none;

        @media (max-width: 992px) {
            max-width: 350px;
        }

        @media (max-width: 768px) {
            max-width: 100%;
        }

        @include hover {
            &:not(:has(.active)) h3 {
                color: var(--color-accent);
            }

            .faq__accordion-icon {
                filter: brightness(0) saturate(100%) invert(52%) sepia(44%) saturate(267%) hue-rotate(356deg) brightness(99%) contrast(88%);
            }
        }


        h3 {
            color: var(--color-accent);
            font-size: var(--font-size-lg);
            font-weight: var(--font-weight-light);
            margin: 0;
            transition-duration: var(--transition-duration);
            text-align: left;
        }

        &:not(:has(.active)) h3 {
            color: var(--color-text-primary);
            font-weight: var(--font-weight-thin);
        }
    }

    &__accordion-content {
        display: flex;
        position: absolute;
        left: 510px;
        top: 0;
        height: 100%;
        transition-duration: var(--transition-duration);
        overflow: hidden;

        @media (max-width: 992px) {
            left: 374px;
        }

        @media (max-width: 768px) {
            position: static;
            max-height: 500px !important;
        }

        h4 {
            font-size: var(--font-size-xxl);
            font-weight: var(--font-weight-extralight);
            margin: 0 0 1.6em 0;

            @media (max-width: 768px) {
                margin: 0 0 0.533em 0;
            }
        }

        p {
            font-size: var(--font-size-sm);
        }

        &:not(.active) {
            display: none;

            @media (max-width: 768px) {
                display: block;
                overflow: hidden;
                max-height: 0 !important;
            }
        }
    }

    &__accordion-icon {
        transition-duration: var(--transition-duration);

        &.active {
            transform: rotate(-90deg);
            filter: brightness(0) saturate(100%) invert(52%) sepia(44%) saturate(267%) hue-rotate(356deg) brightness(99%) contrast(88%);

            @media (max-width: 768px) {
                transform: rotate(180deg);
            }
        }

    }

    &__tab-content-button {
        position: relative;
    }

    &__accordion-body {
        height: 100%;
        max-height: 100%;
        overflow-y: auto;
        padding-right: 1.067em;

        @media (max-width: 768px) {
            height: 100%;
            max-height: 300px;
        }

        img {
            margin-bottom: 0.666em;
        }

        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-top: 0;
            margin-bottom: 1em;
        }
    }

    &__tab-content-button-info {

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }
}

