@use '../helpers' as *;

.fixed-contact {
    position: fixed;
    bottom: rem(20);
    right: rem(70);
    display: flex;
    flex-direction: column;
    gap: rem(15);
    z-index: 1000;

    @include mobile {
        right: rem(20);
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(50);
        height: rem(50);
        background-color: var(--color-gold);
        border-radius: 50%;
        transition: background-color var(--transition-duration);

        &:hover {
            background-color: var(--color-btn);
        }

        img {
            width: rem(24);
            height: rem(24);
        }
    }
}