@use '../helpers' as *;

.footer {
    background-color: var(--color-text-primary);
    padding: 1.067em 0 2em 0px;

    &__inner {

        &-body {
            display: flex;
            gap: var(--gap);
            padding-bottom: 2em;

            @media (max-width: 992px) {
                padding-right: 0px;
            }

            @media (max-width: 768px) {
                flex-direction: column;
                align-items: center;
            }
        }

        &-bottom {
            padding-top: 1em;
            border-top: 1px solid var(--color-light);
            display: flex;
            justify-content: flex-start;
            position: relative;

            @media (max-width: 768px) {
                justify-content: space-between;
                flex-wrap: wrap;
                gap: var(--small-gap);
            }

            &-box {
                display: flex;
                flex-direction: column;
                gap: 5px;

                img {
                    width: 78px;
                    height: 13px;
                    flex-shrink: 0;
                }

                p {
                    max-width: 180px;
                    font-size: var(--font-size-xs);
                    color: var(--color-light);
                }
            }

            &-copyriht {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                font-size: var(--font-size-sm);
                color: var(--color-light);

                @media (max-width: 768px) {
                    position: static;
                    transform: none;
                }
            }
        }
    }

    &__content {
        flex: 1 1 calc(25% - 12px);

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        p {
            font-size: var(--font-size-sm);
            color: var(--color-light);
            margin: 0.6em 0 1.333em 0;

            @media (max-width: 768px) {
                text-align: center;
            }
        }
    }

    &-raiting {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0;

        @media (max-width: 768px) {
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        &-link {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: var(--font-size-md);
            line-height: 1.5;
            color: var(--color-light);
            letter-spacing: 0.15px;

            img {
                width: 26px;
                height: 24px;
            }
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;
        flex: 1 1 calc(25% - 12px);

        @media (max-width: 768px) {
            margin: 0 auto;
            align-items: center;
        }

        &-link {
            color: var(--color-light);
            font-size: var(--font-size-lg);
            margin-bottom: 0.933em;
        }

        &-socail {
            display: flex;
            align-items: center;
            gap: var(--small-gap);
            margin-bottom: 1.333em;
            padding: 0;
        }

        &-btn {
            font-size: var(--font-size-sm);
            padding: 0 1em;
            min-height: 40px;
            display: flex;
            align-items: center;
            max-width: 180px;
        }
    }

    &__address {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 1.667em;

        a {
            font-size: var(--font-size-md);
            color: var(--color-light);
            text-decoration: none;
        }
    }

    &__nav {
        flex: 1 1 calc(50% - 24px);
        display: flex;
        justify-content: space-around;
        color: var(--color-light);

        @media(max-width: 1200px) {
            margin-right: 3.333em;
        }

        @media (max-width: 992px) {
            margin-right: 0;
        }

        @media (max-width: 768px) {
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;
            gap: var(--gap);
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 0;

            @media (max-width: 768px) {
                align-items: center;
                          flex: 1;
            }
        }

        &-link {
            font-size: var(--font-size-md);
        }

        &-item {
            position: relative;
            list-style: none;
            margin-bottom: 0;

            &--big {
                margin-bottom: 0.6em;

                a {
                    font-size: var(--font-size-lg);
                    text-transform: uppercase;
                }
            }
        }
    }

    &__nav-item {

        width: max-content;

        @include hover {
            &>.footer__submenu {
                max-height: 500px;
                visibility: visible;
            }
        }
    }

    &__submenu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 154px;
        padding: 1em;
        background: var(--color-light);
        display: flex;
        flex-direction: column;
        z-index: 2;
        gap: 5px;
        max-height: 0;
        visibility: hidden;
        transition-duration: var(--transition-duration);


        &-list {
            font-size: var(--font-size-sm);
            color: var(--color-text-primary);
            padding: 0;

            @include hover {
                color: var(--color-accent);
            }
        }

        &-item {
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }
}

@media (max-width: 768px) {
    .footer__nav-item {
         text-align: center;
         display: flex;
         flex-direction: column;
         align-items: center;

        .footer__submenu {
            background: transparent;
            position: static;
            padding: 0;
                        align-items: center;
            text-align: center;
        }
    }

    .footer__nav-item.is-active {
gap: 5px;
        .footer__submenu {
            max-height: 500px;
            visibility: inherit;

            .footer__submenu-list {
                color: var(--color-light);
            }
        }
    }
}