@use '../helpers' as *;

.global-hero {
    min-height: 756px;
    position: relative;
    padding-top: 16.933em;

    &::before {
        position: absolute;
        inset: 0;
        content: "";
        height: 155px;
        background: rgba(0, 0, 0, 0.50);
        filter: blur(75px);
        z-index: 1;
    }

    @media (max-width: 1280px) {
        padding-bottom: 4em;
    }


    &-background {
        @include abs-center;
        width: 100%;
        height: 100%;
        z-index: -1;

        img {
            height: 100%;
            object-position: left;
        }
    }

    &__inner {

        h1 {
            font-size: 5.333em;
            text-transform: uppercase;
            margin: 15px 0 20px 0;

            @media (max-width: 1280px) {
                margin: 0.5em 0;
            }


            @media (max-width: 576px) {
                font-size: 2.5em;
            }

        }
    }

    &__content {
        max-width: 894px;
        width: 100%;
        position: relative;
        z-index: 2;

        &--action {
            width: max-content;
        }
    }

    &__content-text {
        max-width: 486px;
        width: 100%;
        font-size: var(--font-size-lg);
        margin-bottom: 2em;
    }

    .breadcrumb {
        padding: 0;

        &__list {
            display: flex;
            align-items: center;
            gap: 10px;
            margin: 0;
            padding: 0;
        }

        &__item {
            list-style: none;
            margin: 0;

            &:nth-last-of-type(1) {
                .breadcrumb__link {
                    font-weight: var(--font-weight-light);

                    &::after {
                        content: none;
                    }
                }
            }
        }

        &__link {
            color: var(--color-light);
            font-size: var(--font-size-s);
            display: flex;
            align-items: center;
            gap: 10px;
            white-space: nowrap;

            &:after {
                content: "";
                background-image: url(../icons/breadcrumb.svg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                width: 11px;
                height: 15px;
                flex-shrink: 0;
                filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7457%) hue-rotate(15deg) brightness(114%) contrast(110%);
            }

            &--black {
                color: var(--color-text-primary);

                &:after {
                    filter: none;
                }
            }

            &--gold {
                color: var(--color-accent);
            }

            &--white {
                color: var(--color-light);
            }
        }
    }
}

.global-hero.global-hero-transparent {

    min-height: 645px;
    padding-top: 13em;
    overflow: hidden;

    &:before {
        content: none;
    }

    .global-hero__inner {
        h1 {
            margin: 28px 0 35px 0;
        }
    }

    .gold-button {
        padding: 0.455em 1.8em;
    }
}

.global-hero.global-hero--blog {
    min-height: 512px;

    .global-hero-background {
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(90deg, rgba(236, 214, 180, 0.33) 0%, rgba(255, 242, 207, 0.33) 100%), #FFF;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }
}
