@use '../helpers' as *;

.global-hero {
    min-height: 756px;
    position: relative;
    padding-top: 16.933em;

    &::before {
        position: absolute;
        inset: 0;
        content: "";
        height: 155px;
        background: rgba(0, 0, 0, 0.50);
        filter: blur(75px);
        z-index: 1;
    }

    @media (max-width: 1280px) {
        padding-bottom: 4em;
    }


    &-background {
        @include abs-center;
        width: 100%;
        height: 100%;
        z-index: -1;

        img {
            height: 100%;
            object-position: right;
        }
    }

    &__inner {
        max-width: 894px;
        width: 100%;

        h1 {
            font-size: 5.333em;
            text-transform: uppercase;
            margin: 15px 0 20px 0;

            @media (max-width: 1280px) {
                margin: 0.5em 0;
            }


            @media (max-width: 576px) {
                font-size: 3.867em;
            }

        }
    }

    &__content-text {
        max-width: 486px;
        width: 100%;
        font-size: var(--font-size-lg);
        color: var(--color-light);
        margin-bottom: 2em;
    }

    .breadcrumb {
        padding: 0;
    }

    .breadcrumb__link {
        color: var(--color-light);

        &:after {
            filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(4deg) brightness(106%) contrast(101%);
        }
    }

    .breadcrumb__item:nth-last-of-type(1) .breadcrumb__link {
        color: var(--color-light);
    }
}