@use '../helpers' as *;

.header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    animation-name: scrolling-header;
    animation-fill-mode: both;
    animation-timeline: scroll();
    animation-range: 50px 200px;


    @keyframes scrolling-header {
        to {
            box-shadow: 0 0 1px 0 var(--color-text-primary-40);
            background: var(--color-text-primary);
        }
    }

    &:has(.is-open) {
        box-shadow: 0 0 1px 0 var(--color-text-primary-40);
        background: var(--color-text-primary);
    }

    &__promo {
        text-align: center;

        @media (max-width: 992px) {
            padding: 1em 0;
        }

        &-nav {
            @media (max-width: 992px) {
                display: none;
            }
        }

        &-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-navigation {
            display: flex;
            align-items: center;
            column-gap: 47px;
        }

        &-nav-list {
            display: flex;
            align-items: center;
            column-gap: var(--gap);
            padding: 0;
        }

        &-contact {
            display: flex;
            align-items: center;
            column-gap: 20px;

            &-link {
                font-size: var(--font-size-sm);
                white-space: nowrap;
            }
        }

        &-nav-link {
            font-size: var(--font-size-sm);
            font-weight: var(--font-weight-extralight);
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 3px;
            padding: 1em 0;

            &::after {
                content: '';
                background-image: url(../icons/arrow-nav.svg);
                background-repeat: no-repeat;
                background-size: contain;
                width: 10px;
                height: 10px;
                flex-shrink: 0;
            }
        }

        &-lang-select {
            border: none;
            font-size: var(--font-size-sm);
            font-weight: var(--font-weight-thin);
            cursor: pointer;
            background: transparent;
            color: inherit;
        }

        &-nav-item {
            position: relative;
            list-style: none;
            margin-bottom: 0;

            @include hover {
                & .header__promo-nav-sublist {
                    @include show;
                }
            }
        }

        &-nav-sublist {
            position: absolute;
            top: 100%;
            @include hide;
            transition-duration: var(--transition-duration);
            background: var(--color-surface);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            row-gap: 10px;
            padding: 1em;
            z-index: 110;
            width: max-content;

            @media (max-width: 768px) {
                position: static;
                max-height: 0;
                align-items: center;
                overflow: hidden;
                padding: 0;
                width: 100%;

                &.is-active {
                    max-height: 100%;
                    @include show;
                    gap: 10px;
                    padding-top: 1.333em;
                }
            }
        }

        &-nav-item:not(:has(.header__promo-nav-subitem)) .header__promo-nav-link::after {
            @include hide;
        }

        &-nav-sublink {
            text-transform: lowercase;
        }
    }

    &__body {

        padding: 1.667em 0;

        &-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &--clinic {
            background-color: var(--color-surface);

            .header__logo {
                width: 282px;
                height: 17px;
                aspect-ratio: unset;

                @media (max-width: 1280px) {
                    width: 150px;
                    height: auto;
                }
            }

            // .header__menu-position-link {
            //     color: var(--color-text-primary);

            //     animation-name: scrolling-header;
            //     animation-fill-mode: both;
            //     animation-timeline: scroll();
            //     animation-range: 50px 200px;
            // }

            .header__search-button {
                color: var(--color-text-primary);
            }

            .header__search-img img {
                filter: brightness(0) saturate(100%)
            }

            .border-button {
                color: var(--color-text-primary);
                border-color: var(--color-text-primary);
            }
        }
    }

    &__overlay {
        display: flex;
        align-items: center;
        justify-content: flex-end;


        @media (max-width: 768px) {
            position: fixed;
            inset: 0;
            top: 51px;
            padding: 1px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            row-gap: 3px;
            background-color: var(--color-surface);
            transition-duration: var(--transition-duration);

            &:not(.is-active) {
                @include hide;

                translate: 100%;
            }
        }
    }

    &__menu-position {
        &-list {
            display: flex;
            align-items: center;
            column-gap: 33px;
            padding: 0;

            @media (max-width: 768px) {
                flex-direction: column;
                row-gap: 20px;
            }
        }

        &-item {
            list-style: none;
            margin-bottom: 0;
        }

        &-link {
            color: var(--color-light);
            font-size: var(--font-size-sm);
            font-weight: var(--font-weight-extralight);
            text-transform: uppercase;
            height: 100%;
            cursor: pointer;

            @media (max-width: 768px) {
                color: var(--color-text-primary);
            }
        }

        @media (max-width: 768px) {
            overflow-y: auto;
            overflow-x: hidden;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            width: 100%;
            height: 100%;
            padding-top: 4.267em;
        }

        .header__promo-nav-list {
            display: none;


            @media (max-width: 768px) {
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 20px;

                .header__promo-nav-item {
                    padding: 0px;

                    .header__promo-nav-link {
                        &::after {
                            transform: rotate(180deg);
                            transition-duration: var(--transition-duration);
                        }
                    }

                    &:not(:has(.is-active)) .header__promo-nav-link::after {
                        transform: rotate(0deg);
                    }
                }
            }
        }

        .header__promo-nav-link {
            padding: 0;
        }
    }

    &__search {
        margin: 0 4.667em 0 1.533em;

        @media (max-width: 992px) {
            margin: 0 0 0 1.533em;
        }

        @media (max-width: 768px) {
            display: none;
        }

        &-form {
            display: flex;
            align-items: center;
            column-gap: 5px;
        }

        &-img {
            background: transparent;
            border: none;
            width: 25px;
            height: 25px;
            flex-shrink: 0;
            padding: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &-button {
            background: transparent;
            border: none;
            flex-shrink: 0;
            color: var(--color-light);
            font-size: var(--font-size-sm);
            font-weight: var(--font-weight-extralight);
            text-decoration: underline;
            padding: 0;
        }

        &-input {
            width: 0;
            @include hide;
        }
    }

    &__request-link {

        @media (max-width: 1200px) {
            display: none;
        }
    }
}

.header__promo-nav-sublist {

    .header__promo-nav-subitem {
        list-style: none;
        margin-bottom: 0;
    }
}

.header__menu-position-item {

    .header__menu {
        max-height: 0;
        overflow: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100vw;
        height: 213px;
        background: var(--color-text-primary);
        transition-duration: var(--transition-duration);

        .header__menu-wrapper {
            padding: 1.6em 8.667em;
            display: flex;
            flex-direction: column;
            gap: 10px;
            max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
            margin-inline: auto;
            padding-inline: var(--container-padding-x);
            position: relative;

            .menu-item-type-custom {
                max-width: 385px;
                width: 100%;
                margin-bottom: 0;
            }

            a {
                color: var(--color-light);
                font-size: var(--font-size-s);
                transition-duration: var(--transition-duration);
                text-transform: inherit;
                width: max-content;
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 8px;

                @include hover {
                    text-decoration: underline;
                    font-weight: var(--font-weight-regular);
                }

                &::after {
                    content: none;
                }
            }
        }
    }

    .header__menu.is-open {
        max-height: 213px;
    }
}

.header__menu-item.h0 {
    &:has(> .header__submenu) > .header__menu-link::after  {
        content: '';
        background-image: url(../icons/select.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 10px;
        height: 10px;
        flex-shrink: 0;
        margin-left: 3px;
        transform: rotate(-90deg);
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7475%) hue-rotate(296deg) brightness(97%) contrast(99%);
    }
}

.header__submenu {
    position: absolute;
    left: 400px;
    width: 818px;
    height: 213px;
    top: 0;
    background: #FFF2CF;
    opacity: 0;
    transition-duration: var(--transition-duration);
    padding: 1.6em;
    display: flex;
    flex-direction: column;

    .menu-item.menu-item-type-taxonomy {
        list-style: none;
        width: max-content;
        margin: 0;

        .header__submenu-link {
            color: var(--color-text-primary);
            font-size: var(--font-size-s);
            transition-duration: var(--transition-duration);
            text-transform: inherit;
            width: max-content;
            position: relative;
            z-index: 2;
            padding: 5px 0;
        }

        .header__submenu-img {
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        // Показываем изображение первого элемента по умолчанию
        &:first-child .header__submenu-img {
            opacity: 1;
        }

        // При ховере на любой элемент показываем его изображение
        &:hover .header__submenu-img {
            opacity: 1;
        }
    }

    // Скрываем первое изображение когда наводим на любой другой элемент
    &:has(.menu-item.menu-item-type-taxonomy:not(:first-child):hover) {
        .menu-item.menu-item-type-taxonomy:first-child .header__submenu-img {
            opacity: 0;
        }
    }
}


.header__submenu.is-open {
    display: flex;
    opacity: 1;
}

.header__submenu-img {

    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 528px;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition-duration: var(--transition-duration);
}

.header__promo-contact-link--email {
    @media (max-width: 576px) {
        display: none;
    }
}

.header__menu-position-item {
    .header__menu-position-link {
        display: flex;
        align-items: center;
        gap: 3px;

        &::after {
            content: none;
        }
    }

    &:has(:not(.header__menu)) .header__menu-position-link::after {
        content: '';
        background-image: url(../icons/select.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 10px;
        height: 10px;
        flex-shrink: 0;
        margin-left: 3px;
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7475%) hue-rotate(296deg) brightness(97%) contrast(99%);
    }
}

.header-transparent {
    .header__body--clinic {
        background-color: transparent;
    }

    .header__menu-position-item:has(:not(.header__menu)) .header__menu-position-link::after {
        filter: brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(0%) hue-rotate(284deg) brightness(96%) contrast(107%);
    }
}

[id^="privecySection"] {
  scroll-margin-top: 150px;
}


.header__promo.header-black-bg {

    .header__promo-nav-sublist {
        background: var(--color-text-primary);
    }

    .header__promo-nav-link::after {
        filter: brightness(0) saturate(100%) invert(100%) sepia(10%) saturate(7456%) hue-rotate(221deg) brightness(112%) contrast(118%);
    }
    + .header__body {
        .header__menu-position-link {
            color: var(--color-text-primary);

            &:after {
                filter: brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(0%) hue-rotate(284deg) brightness(96%) contrast(107%);
            }
        }
    }
}


.header.header-transparent {
    animation-name: scrolling-header-transparent;
    animation-fill-mode: both;
    animation-timeline: scroll();
    animation-range: 50px 200px;

    .header__search-img {
        img {
            animation-name: scrolling-logo;
            animation-fill-mode: both;
            animation-timeline: scroll();
            animation-range: 5px 20px;
        }
    }

    .header__logo {
        img {
            animation-name: scrolling-logo;
            animation-fill-mode: both;
            animation-timeline: scroll();
            animation-range: 5px 20px;
        }
    }

    .header__menu-position-link, .header__search-button {
            animation-name: scrolling-link;
            animation-fill-mode: both;
            animation-timeline: scroll();
            animation-range: 5px 20px; 
    }

    .header__menu-position-item .header__menu-position-link {
        color: var(--color-text-primary);
    }

    .header__request-link {
        animation-name: scrolling-btn;
        animation-fill-mode: both;
        animation-timeline: scroll();
        animation-range: 50px 200px;
    }

    .burger-button__line--black {
        animation-name: scrolling-burger;
        animation-fill-mode: both;
        animation-timeline: scroll();
        animation-range: 1px 2px;
    }
}

@keyframes scrolling-header-transparent {
    to {
        box-shadow: 0 0 1px 0 var(--color-text-primary-40);
        background: var(--color-text-primary);
        border-color: var(--color-light);
    }
}

@keyframes scrolling-logo {
    from {
        filter: brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(0%) hue-rotate(284deg) brightness(96%) contrast(107%);
    }
    to {
        filter: brightness(0) saturate(100%) invert(100%) sepia(10%) saturate(7456%) hue-rotate(221deg) brightness(112%) contrast(118%);
    }
}

@keyframes scrolling-link {
    from {
       filter: none;
    }
    to {
        filter: brightness(0) saturate(100%) invert(100%) sepia(10%) saturate(7456%) hue-rotate(221deg) brightness(112%) contrast(118%);
        color: var(--color-light);
    }
}

@keyframes scrolling-btn {
    to {
        border-color: var(--color-light);
        color: var(--color-light);
    }
}

@keyframes scrolling-burger {
    to {
        background: var(--color-light);
    }
}