@use '../helpers' as *;

.leading-doctors {

    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__link-button {
        border: var(--border);
        color: var(--color-text-primary);
        width: max-content;
        margin: 0 auto;
    }

    &__navigation {
        display: flex;
        gap: var(--gap);
        margin-top: 1.563em;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 2.133em;
    }

    &__slide {
        width: calc(33.333% - 16px);

        @media (max-width: 992px) {
            width: calc(50% - 12px);
        }

        @media (max-width: 768px) {
            width: calc(100% - 0px);
        }
    }
}