@use '../helpers' as *;

.leading-doctors {
    padding: rem(177) rem(0) rem(100) rem(0);

    @include mobile {
        padding: rem(50) rem(0);
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: rem(10);

        @include mobile {
            gap: rem(32);
        }

        h2 {
            position: relative;
            padding-left: rem(140);
            margin-bottom: 50px;

            @include mobile {
                padding-left: rem(0);
                display: inline-flex;
                align-items: baseline;
            }

            &::before {
                content: '';
                background-image: url(../images/leading-doctors__svg.svg);
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                left: 0;
                bottom: 0;
                width: rem(180);
                height: rem(123);

                @include mobile {
                    width: rem(100);
                    height: rem(65);
                    position: static;
                    display: inline-flex;
                    flex-shrink: 0;
                    margin-right: -25px;
                    background-position: bottom;
                }
            }
        }
    }

    &__card {
        height: 300px;
        border: var(--border);
        display: flex;

        &-image {
            width: 140px;
            height: 100%;
            flex-shrink: 0;

            img {
                height: 100%;
            }
        }

        &-content {
            padding: rem(20) rem(10);

            h3 {
                font-size: 15px;
                font-weight: 700;
                margin: 0 0 rem(10) 0;
            }
        }

        &-country {
            display: flex;
            align-items: center;
            gap: rem(5);
            margin-bottom: rem(10);

            span {
                font-size: 12px;
            }
        }

        &-specializations {
            display: flex;
            flex-direction: column;
            margin-bottom: rem(14);

            span {
                font-size: 15px;
                font-weight: 300;
            }

            h4 {
                margin: 0;
                font-size: 15px;
                color: var(--color-gold);
                font-weight: 300;
                text-decoration: underline;
            }
        }

        &-rating {
            display: flex;
            align-items: center;
            margin-bottom: rem(15);

            &-value {
                margin: 0 rem(7) 0 rem(3);
                font-size: 12px;
            }
        }

        &-stars {
            color: #F7C345;
            font-size: 15px;
            display: flex;
            align-items: center;

            span {
                @include flex-center;
                margin-top: -2px;
            }
        }

        &-contents {
            display: flex;
            flex-direction: column;
            margin-bottom: 17px;
            p {
                font-size: 10px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                margin: 0;
            }

            a {
                font-size: 10px;
                color: var(--color-gold);
                text-decoration: underline;
            }
        }

        &-link {
            padding: rem(10) rem(25);
            width: 100%;
            display: inline-flex;
            justify-content: center;

            @include hover {
                background: var(--color-light);
                color: var(--color-dark);
            }
        }
    }
    
    &__verified {
        display: flex;
        align-items: flex-start;
        gap: rem(2);
        font-size: 12px;
        white-space: nowrap;

        &-icon {
            width: rem(10);
            height: rem(10);
            flex-shrink: 0;
        }
    }

    &__link-button {
        border: var(--border);
        color: var(--color-dark);
        width: max-content;
        margin: 0 auto;
    }

    &__navigation {
        display: flex;
        gap: rem(24);
        margin-top: rem(25);
        align-items: center;
        justify-content: flex-end;
    }

    &__slide {
        width: calc(33.333% - 16px);

        @include tablet {
            width: calc(50% - 12px);
        }

        @include mobile {
            width: calc(100% - 0px);
        }
    }
}