@use '../helpers' as *;

.popular-procedures {

    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--gap);

        @media (max-width: 992px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 576px) {
            grid-template-columns: 1fr;
        }
    }

    &__link {
        display: flex;
        flex-direction: column;

        h3 {
            padding: 15px;
            font-size: var(--font-size-xxl);
            font-weight: var(--font-weight-thin);
            text-transform: uppercase;
            display: flex;
            align-items: center;
            column-gap: 8px;
            transition-duration: var(--transition-duration);
            margin: 0;

            &::after {
                content: "";
                background-image: url(../icons/arrow.svg);
                background-repeat: no-repeat;
                background-size: contain;
                width: 18px;
                height: 18px;
                flex-shrink: 0;
                transition-duration: var(--transition-duration);
                opacity: 0;
            }

            @media (max-width: 576px) {
                background: var(--color-surface);
            }
        }

        @include hover {
            .popular-procedures__image {
                height: 360px;
                &:before {
                    opacity: 1;
                }
            }

            h3 {
                color: var(--color-light);
                margin-top: -63px;
                z-index: 1;

                &::after {
                    opacity: 1;
                }

                @media (max-width: 576px) {
                    background: transparent;
                }
            }
        }
    }

    &__image {
        height: 296px;
        transition-duration: var(--transition-duration);
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%);
            opacity: 0;
            transition-duration: var(--transition-duration);
        }

        img {
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__item {
        min-height: 360px;

         @media (max-width: 576px) {
            position: sticky;
            top: 140px;
         }
    }
}

.popular-procedures.popular-procedures--countries {

    .popular-procedures__inner {
        gap: 45px;

        h2 {
                margin-bottom: -28px;
        }
    }

    .popular-procedures__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var(--gap);

        @media (max-width: 992px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 576px) {
            grid-template-columns: 1fr;
        }
    }
}