@use '../helpers' as *;

.price-section {


    .price-tabs {
        display: flex;
        gap: var(--gap);

        @media (max-width: 992px) {
            flex-direction: column;
        }

        &__nav {
            width: 282px;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            gap: 10px;

            @media (max-width: 992px) {
                width: 100%;
                flex-direction: row;
                flex-wrap: wrap;
            }
        }

        &__content {
            flex-grow: 1;
        }

        &__button {
            padding: 0.667em 0;
            border: none;
            background: transparent;
            text-align: left;
            border-bottom: var(--border);
            font-size: var(--font-size-xl);

            &--active {
                font-weight: var(--font-weight-light);
                border-color: var(--color-accent);
                color: var(--color-accent);
            }

            @include hover {
                color: var(--color-accent);
            }

            @media(max-width: 576px) {
               font-size: var(--font-size-sm);
            }
        }
    }

    .price-table {
        width: 100%;
        border-collapse: collapse;
    }

    .price-table__header {
        padding: 0.8em 0.667em;
        text-align: left;
        font-weight: 500;
        border: var(--border);
    }

    .price-table__body .price-table__row {
        border-bottom: var(--border);
    }



    .price-table__cell {
        padding: 0.8em 0.667em;
        border-left: var(--border);
        border-right: var(--border);
    }
    .price-table__cell:last-child {
        text-align: left;
    }

    /* Responsive */
    @media (max-width: 768px) {

        .price-table__header,
        .price-table__cell {
            padding: 0.667em 0.8em;
            font-size: var(--font-size-xs);
        }
    }
}