@use '../helpers' as *;

.procedures  {
    

    &__grid {
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap);
    }

    &-card {
       flex: 0 0 calc(33.333% - (48px / 3)); 
       display: flex;
       flex-direction: column;
       gap: var(--small-gap);
       height: auto;

        @media (max-width: 992px) {
            flex: 0 0 calc(50% - (24px / 2));
            min-height: auto;
        }

        @media (max-width: 576px) {
            flex: 1 1 100%;
        }

       &-image {
            height: 296px;
            width: 100%;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
       }

       &__content {
            display: flex;
            flex-direction: column;
            height: calc(100% - 280px);

            // @media (max-width: 1280px) {
            //     height: calc(100% - 280px);
            // }
       }

       &__title {
        margin-bottom: 0.467em;
        font-size: var(--font-size-xxl);
        font-weight: var(--font-weight-thin);
        text-transform: uppercase;
       }

       &__list {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.667em;
       }

       &__item {
            margin: 0;
       }

       &__toggle {
        background: transparent;
        border: none;
        padding: 0;
        color: var(--color-accent);
        text-decoration: underline;
        margin-right: auto;
        margin-bottom: 1.333em;

        @media (max-width: 992px) {
            margin-bottom: 0;
        }
       }

       &__button {
        margin-top: auto;

         @media (max-width: 1280px)  {
            font-size: var(--font-size-sm);
         }

        @media (max-width: 992px) {
            font-size: var(--font-size-sm);
        }
       }
    }
}