@use '../helpers' as *;

.section-autor {
    padding: 4.667em 0;
    background: linear-gradient(270deg, rgba(255, 242, 207, 0.33) 0%, rgba(236, 214, 180, 0.33) 100%), #FFF;

    &__inner {
        display: flex;
        flex-wrap: wrap;
        gap: 100px;
    }

    &--col {
        flex: 1 1 calc(50% - 100px);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;  
    }

    &-info {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &-published {
        display: inline;

        span {
            font-size: var(--font-size-s);
            font-weight: var(--font-weight-bold);
        }

        time {
          font-size: var(--font-size-s);  
        }
    }

    &-infos {
        display: flex;
        align-items: center;
        gap: 68px;
    }

    &-box {
        display: flex;
        align-items: center;
        gap: var(--gap);

        img {
            width: 78px;
            height: 78px;
            flex-shrink: 0;
            aspect-ratio: 1/1;
            border-radius: 1000px;
            overflow: hidden;
        }
    }

    &-name {
        display: flex;
        flex-direction: column;
        gap: 5px;

        p {
            margin-bottom: 0;
        }

        .info-box {
            span {
                 font-weight: var(--font-weight-bold);
            }

            .info-wrapper {
                margin-left: 0;
            }
        }
    }
}

