@use '../helpers' as *;

.similar-clinics {


    &__body {
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap);
    }

    &__link {
        margin-top: auto;

        @media (max-width: 992px) {
            font-size: var(--font-size-sm);
        }
    }
}

.clinics__card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 0 0 calc(33.33% - (48px / 3));

    @media (max-width: 992px) {
        flex: 0 0 calc(50% - (30px / 2));
    }

    @media (max-width: 576px) {
        flex: 1 1 100%;
    }

    &-image {
        width: 100%;
        height: 293px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-content {
        h3 {
            margin: 0 0 0.667em 0;
            padding-right: 2em;
            font-size: var(--font-size-xl);
            font-weight: var(--font-weight-extralight);
            text-transform: uppercase;

            @media(max-width: 1280px) {
                padding-right: 0;
            }
        }
    }

    &-info {
        display: flex;
        align-items: center;
        gap: 25px;
        flex-wrap: wrap;
    }

    &-rating {
        width: 108px;
        height: 20px;
        flex-shrink: 0;
    }

    &-location {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: var(--font-size-s);

        img {
            width: 28px;
            height: 28px;
            flex-shrink: 0;
            aspect-ratio: 1/1;
        }
    }

    &__link {
        font-size: var(--font-size-sm);
        margin-top: auto;
    }
}