@use '../helpers' as *;

.ticker {
    height: auto;
    min-height: 55px;
    padding: 1.2em 0;
    border-top: var(--border);
    border-bottom: var(--border);
    overflow: hidden;
    display: flex;
    align-items: center;

    &-wrapper {
        display: flex;
        width: fit-content;
        animation: scroll 70s linear infinite;
        
        &:hover {
            animation-play-state: paused;
            cursor: default;
        }
    }

    &-content {
        display: flex;
        gap: 27px;
        flex-shrink: 0;
        min-width: fit-content;
    }

    &-item {
        font-weight: var(--font-weight-thin);
        text-transform: uppercase;
        white-space: nowrap;
        flex: 0 0 auto;
        font-size: var(--font-size-sm);
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-25%);
    }
}