@use '../helpers' as *;

.ticker {
    height: 55px;
    padding: 1.2em 0;
    border-top: var(--border);
    border-bottom: var(--border);
    overflow: hidden;

    &-wrapper {
        display: flex;
        width: fit-content;
        animation: scroll 20s linear infinite;
        
        &:hover {
            animation-play-state: paused;
            cursor: default;
        }
    }

    &-content {
        display: flex;
        gap: 27px;
        flex-shrink: 0;
        padding-right: 1.8em;
    }

    &-item {
        font-weight: var(--font-weight-thin);
        text-transform: uppercase;
        white-space: nowrap;
        flex: 0 0 auto;
        font-size: var(--font-size-sm);
    }
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% / 2));
    }
}