@use '../helpers' as *;

.transformed {

    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__tabs {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        justify-content: space-between;

        @media (max-width: 992px) {
            justify-content: flex-start;
        }
    }

    &__slider {
        position: relative;
        overflow: hidden;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--gap);

        &-controls {
            margin-left: auto;
            display: flex;
            gap: var(--gap);
        }
    }

    &__slider-slide {
        width: calc(33.333% - 16px);

        @media (max-width: 992px) {
            width: calc(50% - 12px);
        }

        @media (max-width: 768px) {
            width: calc(100% - 0px);
        }
    }

    &__slider-content {
        width: 100%;
        height: 100%;
    }

    &__slider-navigation {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
    }

    &__slider-btn {
        width: 40px;
        height: 40px;
        border: var(--border);
        @include flex-center;
        transition-duration: var(--transition-duration);
        background: transparent;

        img {
            width: 10px;
            height: 10px;
        }

        @include hover {
            background: var(--color-surface-accent);
        }

        &:active,
        &:focus {
            background: var(--color-surface-accent);
        }

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
            background: #f8f8f8;
        }
    }

    // Tab functionality
    &__tab-button {
        font-size: var(--font-size-xl);
        text-transform: uppercase;
        background: transparent;
        border: none;
        color: var(--color-text-primary);
        border-bottom: none;
        white-space: nowrap;
        display: flex;
        flex-direction: column;
        gap: 10px;
        transition-duration: var(--transition-duration);

        &::after {
            content: "";
            height: 1.5px;
            width: 0;
            background: var(--color-accent);
            transition-duration: var(--transition-duration);
        }

        &.active {
            color: var(--color-accent);
            font-weight: var(--font-weight-light);

            &::after {
                width: 100%;
            }
        }

        @include hover {
            color: var(--color-accent);

            &::after {
                width: 100%;
            }
        }

        @media (max-width: 576px) {
            font-size: 15px;
        }
    }

    &__tab-content {
        display: none;

        &.active {
            display: block;
        }
    }


}

.transformed-link {
    width: max-content;
    margin: 32px auto 0 auto;

    @include hover {
        background: var(--color-text-primary);
        color: var(--color-light);
    }
}