@use '../helpers' as *;

.trust-us {
    padding: rem(100) rem(0);

    @include mobile {
        padding: rem(50) rem(0);
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: rem(60);

        @include mobile {
            gap: rem(32);
        }

        h2 {
            position: relative;
            padding-left: rem(165);

            @include mobile {
                padding-left: rem(100);
            }

            &::before {
                content: '';
                background-image: url(../images/transformed__svg.svg);
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                left: 0;
                bottom: 10px;
                width: rem(292);
                height: rem(112);

                @include mobile {
                    bottom: 0;
                    width: rem(150);
                    height: rem(60);
                    top: -30px;
                }
            }
        }
    }

    &__body {
        display: flex;
        height: 400px;
        flex-wrap: wrap;
        
        @include tablet {
            height: auto
        }

        @include mobile {
            gap: rem(24);
        }

        &--column {
            flex: 1 1 50%;
            border-right: none;
            display: flex;

            @include mobile {
                flex: 1 1 100%;
                min-width: 200px;
            }

            &:not(:has(.trust-us__body--image)) {
                flex: 1 1 25%;
                border-right: var(--border);

                @include mobile {
                    flex: 1 1 calc(50% - 12px);
                }
            }

            &-text {
                @include fluid-text(18, 14);
            }

            &-number {
                @include fluid-text(70, 32);
                text-transform: uppercase;
            }

            &--center {
                padding-left: rem(24);

                 @include mobile {
                    padding-left: rem(0);
                }
            }
        }

        &--content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            padding-top: rem(20);
        }

        &--image {
            max-width: 306px;
            width: 100%;
            position: relative;
            height: 100%;
            flex-shrink: 0;
            margin-right: rem(24);
            padding-left: rem(24);
            padding-top: rem(20);
            display: flex;
            flex-direction: column;

            @include tablet {
                max-width: 200px;
            }

            @include mobile {
                flex: 1 1 50%;
                height: 200px;
                max-width: 200px;
                flex-shrink: 0;
            }

            &-img {
                &::before {
                    content: "";
                    position: absolute;
                    inset: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
                }
            }

            img {
                height: 100%;
                position: absolute;
                inset: 0;
            }

            .trust-us__body--column-text,
            .trust-us__body--column-number {
                color: var(--color-light);
                position: relative;
                z-index: 2;
            }
            
            .trust-us__body--column-number {
                margin-top: auto;
            }
        }
    }
}