@use '../helpers' as *;

.we-help {

    &__inner {
        display: flex;
        flex-direction: column;

        h2 {
            margin-bottom: 17px;
        }
    }


    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--gap);

        &-row {
            display: flex;
            gap: var(--gap);

            @media (max-width: 992px) {
                flex-direction: column;
            }
        }
    }

    &__item {
        max-width: 588px;
        width: 100%;
        display: flex;
        gap: var(--gap);
        min-height: 300px;

        @media (max-width: 576px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        &-content,
        &-image {
            flex: 1 1 calc(50% - 12px);
        }

        &-image {
            position: relative;

            @media (max-width: 576px) {
                height: 300px;
                flex: none;
                width: 100%;
            }

            img {
                @include abs-center;
                height: 100%;
            }
        }

        &-number {
            margin-top: auto;
            width: 78px;
            height: 43px;
            flex-shrink: 0;
            margin-left: auto;
            object-fit: contain;
        }

        &-content {
            display: flex;
            flex-direction: column;
            gap: 9px;

            h3 {
                font-size: var(--font-size-xl);
                font-weight: var(--font-weight-extralight);
                text-transform: uppercase;
                margin: 0;
            }

            p {
                font-size: var(--font-size-sm);
            }
        }
    }
}