@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Albert Sans";
  src: url("../fonts/AlbertSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Albert Sans";
  src: url("../fonts/AlbertSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geologica";
  src: url("../fonts/Geologica-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geologica";
  src: url("../fonts/Geologica-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geologica";
  src: url("../fonts/Geologica-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geologica";
  src: url("../fonts/Geologica-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geologica";
  src: url("../fonts/Geologica-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cormorant Garamond";
  src: url("../fonts/CormorantGaramond-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #FFFFFF;
  --background: #F7FAFD;
  --color-dark: #000000;
  --color-gold: #A38C6A;
  --color-btn: #D8C2A0;
  --border: 0.0625rem solid var(--color-dark);
  --font-family-base: "Geologica", sans-serif;
  --font-family-title: "Cormorant Garamond", sans-serif;
  --font-family-accent: "Albert Sans", sans-serif;
  --container-width: 75rem;
  --container-padding-x: 1rem;
  --transition-duration: 0.2s;
}
@media (width <= 90.06125rem) {
  :root {
    --container-width: 75rem;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

html.is-lock {
  overflow: hidden;
}

body {
  font-size: clamp(0.875rem, 0.7821428571rem + 0.380952381vw, 1.125rem);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  font-weight: 100;
  line-height: normal;
  color: var(--color-dark);
  background-color: var(--background);
}

main {
  flex-grow: 1;
}

h1,
.h1 {
  font-family: var(--font-family-title);
  color: var(--color-light);
  font-weight: 400;
  font-size: 115px;
}
@media (width <= 47.99875rem) {
  h1,
  .h1 {
    font-size: clamp(3.375rem, 3.05rem + 1.3333333333vw, 4.25rem);
  }
}

h2,
.h2 {
  font-family: var(--font-family-title);
  color: var(--color-gold);
  font-weight: 400;
  text-transform: uppercase;
  font-size: clamp(1.75rem, 1.5178571429rem + 0.9523809524vw, 2.375rem);
}

h3,
.h3 {
  color: var(--color-dark);
}

h3,
.h3-big {
  font-size: clamp(1.375rem, 1.2589285714rem + 0.4761904762vw, 1.6875rem);
  font-weight: 200;
}

h3,
.h3-smoll {
  font-size: clamp(1.125rem, 1.0321428571rem + 0.380952381vw, 1.375rem);
  font-weight: 100;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-gold);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-gold);
  }
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 0.125rem dashed var(--color-light);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.is-lock {
  overflow: hidden;
}

.icon {
  display: inline-flex;
  align-items: center;
  column-gap: 0.625rem;
}
.icon::after {
  --size: 1.5rem;
  width: var(--size);
  height: var(--size);
  content: "";
  flex-shrink: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.icon--yellow-arrow::after {
  background-image: url("../../icons/arrow-top-right_yellow.svg");
}
@media (width <= 90.06125rem) {
  .icon::after {
    --size: 1.25rem;
  }
}

.logo {
  flex-shrink: 0;
  aspect-ratio: 102/43;
}

.gold-button {
  background-color: var(--color-btn);
  color: var(--color-dark);
  min-height: 50px;
  padding: 0.8125rem 1.5625rem;
  text-align: center;
  font-family: var(--font-family-base);
  font-size: clamp(1rem, 0.8375rem + 0.6666666667vw, 1.4375rem);
  font-weight: 100;
  text-transform: uppercase;
  border: 0.0625rem solid transparent;
}
@media (any-hover: hover) {
  .gold-button:hover {
    background: transparent;
    border: 0.0625rem solid var(--color-light);
    color: var(--color-light);
  }
}
@media (any-hover: none) {
  .gold-button:active {
    background: transparent;
    border: 0.0625rem solid var(--color-light);
    color: var(--color-light);
  }
}

.border-button {
  color: var(--color-light);
  background-color: transparent;
  border: 0.0625rem solid var(--color-light);
  min-height: 50px;
  padding: 0.8125rem 1.5625rem;
  text-align: center;
  font-family: var(--font-family-base);
  font-size: clamp(1rem, 0.8375rem + 0.6666666667vw, 1.4375rem);
  font-weight: 100;
  text-transform: uppercase;
}
@media (any-hover: hover) {
  .border-button:hover {
    background-color: var(--color-btn);
    border: 0.0625rem solid var(--color-btn);
    color: var(--color-dark);
  }
}
@media (any-hover: none) {
  .border-button:active {
    background-color: var(--color-btn);
    border: 0.0625rem solid var(--color-btn);
    color: var(--color-dark);
  }
}

.burger-button {
  width: 2.125rem;
  height: 2.125rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.53125rem 0.265625rem;
  color: var(--color-light);
  background-color: transparent;
  border: none;
}
@media (any-hover: hover) {
  .burger-button:hover {
    color: var(--color-btn);
  }
}
@media (any-hover: none) {
  .burger-button:active {
    color: var(--color-btn);
  }
}
.burger-button.is-active {
  color: var(--color-dark);
}
.burger-button.is-active .burger-button__line:first-child {
  rotate: 45deg;
  transform-origin: 0;
  translate: 0.25em -0.1em;
}
.burger-button.is-active .burger-button__line:nth-child(2) {
  rotate: -45deg;
}
.burger-button.is-active .burger-button__line:last-child {
  width: 0;
}
.burger-button__line {
  background-color: currentColor;
  width: 100%;
  height: 0.125rem;
  border-radius: 0.0625rem;
  transition-duration: var(--transition-duration);
}
.burger-button__line:last-child {
  width: 55%;
  align-self: flex-end;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  animation-name: scrolling-header;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 3.125rem 12.5rem;
}
@keyframes scrolling-header {
  to {
    box-shadow: 0 0 1rem 0 var(--color-dark-40);
    background: var(--color-dark);
  }
}
.header__promo {
  text-align: center;
  background-color: var(--color-light);
}
@media (width <= 63.99875rem) {
  .header__promo {
    padding: 0.9375rem 0;
  }
}
@media (width <= 63.99875rem) {
  .header__promo-nav {
    display: none;
  }
}
.header__promo-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__promo-navigation {
  display: flex;
  align-items: center;
  column-gap: 4.125rem;
}
.header__promo-nav-list {
  display: flex;
  align-items: center;
  column-gap: 1.875rem;
}
.header__promo-contact {
  display: flex;
  align-items: center;
  column-gap: 1.25rem;
}
.header__promo-contact-link {
  font-size: 15px;
  white-space: nowrap;
}
.header__promo-nav-link {
  font-size: 15px;
  font-weight: 200;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3px;
  padding: 0.9375rem 0rem;
}
.header__promo-nav-link::after {
  content: "";
  background-image: url(../icons/arrow-nav.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 10px;
  height: 10px;
  flex-shrink: 0;
}
.header__promo-lang-select {
  border: none;
  font-size: 15px;
  font-weight: 100;
  cursor: pointer;
}
.header__promo-nav-item {
  position: relative;
}
@media (any-hover: hover) {
  .header__promo-nav-item:hover .header__promo-nav-sublist {
    opacity: 1;
    visibility: visible;
  }
}
@media (any-hover: none) {
  .header__promo-nav-item:active .header__promo-nav-sublist {
    opacity: 1;
    visibility: visible;
  }
}
.header__promo-nav-sublist {
  position: absolute;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  transition-duration: var(--transition-duration);
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 0.625rem;
  padding: 1rem;
  width: max-content;
}
@media (width <= 47.99875rem) {
  .header__promo-nav-sublist {
    position: static;
    max-height: 0;
    align-items: center;
    overflow: hidden;
    padding: 0;
    width: 100%;
  }
  .header__promo-nav-sublist.is-active {
    max-height: 100%;
    opacity: 1;
    visibility: visible;
    gap: 0.625rem;
  }
}
.header__promo-nav-item:not(:has(.header__promo-nav-subitem)) .header__promo-nav-link::after {
  opacity: 0;
  visibility: hidden;
}
.header__promo-nav-sublink {
  text-transform: lowercase;
}
.header__body {
  padding: 1.5625rem 0rem 1.0625rem 0rem;
}
.header__body-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__overlay {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (width <= 47.99875rem) {
  .header__overlay {
    position: fixed;
    inset: 0;
    top: 51px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3rem;
    background-color: var(--background);
    transition-duration: var(--transition-duration);
  }
  .header__overlay:not(.is-active) {
    opacity: 0;
    visibility: hidden;
    translate: 100%;
  }
}
.header__menu-list {
  display: flex;
  align-items: center;
  column-gap: 1.25rem;
}
@media (width <= 47.99875rem) {
  .header__menu-list {
    flex-direction: column;
    row-gap: 1.25rem;
  }
}
.header__menu-link {
  color: var(--color-light);
  font-size: 15px;
  font-weight: 200;
  text-transform: uppercase;
}
@media (width <= 47.99875rem) {
  .header__menu-link {
    color: var(--color-dark);
  }
}
@media (width <= 47.99875rem) {
  .header__menu {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
    width: 100%;
    height: 100%;
    padding-top: 64px;
  }
}
.header__menu .header__promo-nav-list {
  display: none;
}
@media (width <= 47.99875rem) {
  .header__menu .header__promo-nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.25rem;
  }
  .header__menu .header__promo-nav-list .header__promo-nav-item {
    padding: 0rem;
  }
}
.header__menu .header__promo-nav-link {
  padding: 0;
}
.header__search {
  margin: 0 4.3125rem 0 2.3125rem;
}
@media (width <= 63.99875rem) {
  .header__search {
    margin: 0rem 0rem 0rem 2rem;
  }
}
@media (width <= 47.99875rem) {
  .header__search {
    display: none;
  }
}
.header__search-form {
  display: flex;
  align-items: center;
  column-gap: 0.3125rem;
}
.header__search-img {
  background: transparent;
  border: none;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  padding: 0rem;
}
.header__search-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header__search-button {
  background: transparent;
  border: none;
  flex-shrink: 0;
  color: var(--color-light);
  font-size: 15px;
  font-weight: 200;
  text-decoration: underline;
  padding: 0rem;
}
.header__search-input {
  width: 0;
  opacity: 0;
  visibility: hidden;
}
@media (width <= 63.99875rem) {
  .header__request-link {
    display: none;
  }
}

.hero {
  position: relative;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
}
.hero::before {
  position: absolute;
  inset: 0;
  content: "";
  height: 155px;
  background: rgba(0, 0, 0, 0.5);
  filter: blur(75px);
  z-index: 1;
}
.hero-background {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-background::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(0deg, rgba(163, 140, 106, 0.2) 0%, rgba(163, 140, 106, 0.2) 100%);
  z-index: 1;
}
.hero-background img {
  height: 100%;
  object-position: top;
}
.hero__inner {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  flex-grow: 1;
  padding-bottom: 60px;
}
.hero h1 {
  text-transform: uppercase;
  margin: 0 0 123px 0;
  position: relative;
}
.hero h1::before {
  content: "";
  background-image: url(../images/title-before.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 0;
  bottom: -85px;
  width: 486px;
  height: 124px;
}
@media (width <= 47.99875rem) {
  .hero h1::before {
    width: 100%;
    height: 100px;
  }
}
.hero h1::after {
  content: "";
  background-image: url(../images/title-after.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: -100px;
  top: -70px;
  width: 180px;
  height: 134px;
}
@media (width <= 47.99875rem) {
  .hero h1::after {
    left: -15px;
    top: -76px;
    width: 140px;
    height: 120px;
  }
}
.hero__content {
  max-width: 586px;
  margin-inline-start: auto;
  position: relative;
  z-index: 2;
}
.hero__content--action {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-block-end: 50px;
}
.hero__content--action a, .hero__content--action button {
  flex: 1;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__content-text {
  color: var(--color-light);
  text-align: center;
  font-size: clamp(0.875rem, 0.7821428571rem + 0.380952381vw, 1.125rem);
  font-weight: 100;
}

.ticker {
  height: 55px;
  padding: 1.125rem 0rem;
  border-top: var(--border);
  border-bottom: var(--border);
  overflow: hidden;
}
.ticker-wrapper {
  display: flex;
  width: fit-content;
  animation: scroll 20s linear infinite;
}
.ticker-wrapper:hover {
  animation-play-state: paused;
  cursor: default;
}
.ticker-content {
  display: flex;
  gap: 1.6875rem;
  flex-shrink: 0;
  padding-right: 1.6875rem;
}
.ticker-item {
  font-weight: 100;
  text-transform: uppercase;
  white-space: nowrap;
  flex: 0 0 auto;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.welcome {
  overflow: hidden;
}
.welcome__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.welcome__content {
  max-width: 588px;
  width: 100%;
  padding: 8.125rem 0rem;
}
@media (width <= 63.99875rem) {
  .welcome__content {
    max-width: 450px;
  }
}
@media (width <= 47.99875rem) {
  .welcome__content {
    padding: 2rem 0rem 0rem 0rem;
    max-width: 100%;
  }
}
.welcome__content h2 {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
@media (width <= 47.99875rem) {
  .welcome__content h2 {
    margin-bottom: 16px;
  }
}
.welcome__content h2::before {
  content: "";
  background-image: url("../images/welcome__svg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 180px;
  height: 35px;
}
.welcome__content p {
  font-size: 15px;
}
.welcome__image {
  position: relative;
  height: auto;
  width: 100%;
  max-width: calc(100% - 588px - 24px);
}
@media (width <= 63.99875rem) {
  .welcome__image {
    max-width: calc(100% - 450px - 24px);
  }
}
@media (width <= 47.99875rem) {
  .welcome__image {
    min-width: 277px;
    flex: 1 1 100%;
    max-width: 100%;
    height: 350px;
  }
}
.welcome__image img {
  position: absolute;
  height: 100%;
  min-width: 708px;
  inset: 0;
  object-position: right;
}
@media (width <= 63.99875rem) {
  .welcome__image img {
    min-width: calc(100% + 16px);
    object-position: center;
  }
}
@media (width <= 47.99875rem) {
  .welcome__image img {
    min-width: calc(100% + 32px);
    left: -16px;
    object-position: right;
    object-fit: contain;
    background-color: var(--color-light);
  }
}

.popular-procedures {
  padding: 6.25rem 0rem;
}
@media (width <= 47.99875rem) {
  .popular-procedures {
    padding: 3.125rem 0rem;
  }
}
.popular-procedures__inner {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
}
@media (width <= 47.99875rem) {
  .popular-procedures__inner {
    gap: 2rem;
  }
}
.popular-procedures__inner h2 {
  position: relative;
  padding-left: 7.5rem;
}
@media (width <= 47.99875rem) {
  .popular-procedures__inner h2 {
    padding-left: 0rem;
    display: inline-flex;
    align-items: baseline;
  }
}
.popular-procedures__inner h2::before {
  content: "";
  background-image: url(../images/popular-procedures__svg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 11.25rem;
  height: 7.9375rem;
}
@media (width <= 47.99875rem) {
  .popular-procedures__inner h2::before {
    width: 6.25rem;
    height: 4.0625rem;
    position: static;
    display: inline-flex;
    flex-shrink: 0;
    margin-right: -40px;
  }
}
.popular-procedures__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
@media (width <= 63.99875rem) {
  .popular-procedures__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width <= 30.06125rem) {
  .popular-procedures__list {
    grid-template-columns: 1fr;
  }
}
.popular-procedures__link {
  display: flex;
  flex-direction: column;
}
.popular-procedures__link h3 {
  padding: 0.9375rem;
  font-size: clamp(1.125rem, 0.9160714286rem + 0.8571428571vw, 1.6875rem);
  font-weight: 100;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  column-gap: 8px;
  transition-duration: var(--transition-duration);
}
.popular-procedures__link h3::after {
  content: "";
  background-image: url(../icons/arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  transition-duration: var(--transition-duration);
  opacity: 0;
}
@media (width <= 30.06125rem) {
  .popular-procedures__link h3 {
    background: var(--background);
  }
}
@media (any-hover: hover) {
  .popular-procedures__link:hover .popular-procedures__image {
    height: 22.5rem;
  }
  .popular-procedures__link:hover .popular-procedures__image:before {
    opacity: 1;
  }
  .popular-procedures__link:hover h3 {
    color: var(--color-light);
    margin-top: -63px;
    z-index: 1;
  }
  .popular-procedures__link:hover h3::after {
    opacity: 1;
  }
}
@media (any-hover: hover) and (width <= 30.06125rem) {
  .popular-procedures__link:hover h3 {
    background: transparent;
  }
}
@media (any-hover: none) {
  .popular-procedures__link:active .popular-procedures__image {
    height: 22.5rem;
  }
  .popular-procedures__link:active .popular-procedures__image:before {
    opacity: 1;
  }
  .popular-procedures__link:active h3 {
    color: var(--color-light);
    margin-top: -63px;
    z-index: 1;
  }
  .popular-procedures__link:active h3::after {
    opacity: 1;
  }
}
@media (any-hover: none) and (width <= 30.06125rem) {
  .popular-procedures__link:active h3 {
    background: transparent;
  }
}
.popular-procedures__image {
  height: 18.5rem;
  transition-duration: var(--transition-duration);
  position: relative;
}
.popular-procedures__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%);
  opacity: 0;
  transition-duration: var(--transition-duration);
}
.popular-procedures__image img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.popular-procedures__item {
  min-height: 360px;
}
@media (width <= 30.06125rem) {
  .popular-procedures__item {
    position: sticky;
    top: 140px;
  }
}

.popular-procedures.popular-procedures--countries .popular-procedures__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}
@media (width <= 63.99875rem) {
  .popular-procedures.popular-procedures--countries .popular-procedures__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (width <= 47.99875rem) {
  .popular-procedures.popular-procedures--countries .popular-procedures__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width <= 30.06125rem) {
  .popular-procedures.popular-procedures--countries .popular-procedures__list {
    grid-template-columns: 1fr;
  }
}

.transformed {
  padding: 6.25rem 0rem;
}
@media (width <= 47.99875rem) {
  .transformed {
    padding: 3.125rem 0rem;
  }
}
.transformed__inner {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
}
@media (width <= 47.99875rem) {
  .transformed__inner {
    gap: 2rem;
  }
}
.transformed__inner h2 {
  position: relative;
  padding-left: 10.3125rem;
}
@media (width <= 47.99875rem) {
  .transformed__inner h2 {
    padding-left: 6.25rem;
  }
}
.transformed__inner h2::before {
  content: "";
  background-image: url(../images/transformed__svg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  bottom: 55px;
  width: 18.25rem;
  height: 7rem;
}
@media (width <= 47.99875rem) {
  .transformed__inner h2::before {
    bottom: 0;
    width: 9.375rem;
    height: 3.75rem;
    top: -30px;
  }
}
.transformed__container {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}
.transformed__tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-between;
}
@media (width <= 63.99875rem) {
  .transformed__tabs {
    justify-content: flex-start;
  }
}
.transformed__slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.transformed__slider-controls {
  margin-left: auto;
  display: flex;
  gap: 1.5rem;
}
.transformed__slider-wrapper {
  display: flex;
  transition: transform 0.3s ease;
  gap: 24px;
}
@media (width <= 47.99875rem) {
  .transformed__slider-wrapper {
    gap: 15px;
  }
}
.transformed__slider-slide {
  flex: 0 0 auto;
  width: calc(33.333% - 14px);
}
@media (width <= 63.99875rem) {
  .transformed__slider-slide {
    width: calc(50% - 10px);
  }
}
@media (width <= 47.99875rem) {
  .transformed__slider-slide {
    width: calc(100% - 0px);
  }
}
.transformed__slider-content {
  width: 100%;
  height: 100%;
}
.transformed__slider-navigation {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.transformed__slider-btn {
  width: 2.5rem;
  height: 2.5rem;
  border: var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: var(--transition-duration);
  background: transparent;
}
.transformed__slider-btn img {
  width: 0.625rem;
  height: 0.625rem;
}
@media (any-hover: hover) {
  .transformed__slider-btn:hover {
    background: var(--color-btn);
  }
}
@media (any-hover: none) {
  .transformed__slider-btn:active {
    background: var(--color-btn);
  }
}
.transformed__slider-btn:active, .transformed__slider-btn:focus {
  background: var(--color-btn);
}
.transformed__slider-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background: #f8f8f8;
}
.transformed__tab-button {
  font-size: clamp(1.125rem, 1.0321428571rem + 0.380952381vw, 1.375rem);
  text-transform: uppercase;
  background: transparent;
  border: none;
  color: var(--color-dark);
  border-bottom: none;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  transition-duration: var(--transition-duration);
}
.transformed__tab-button::after {
  content: "";
  height: 0.09375rem;
  width: 0;
  background: var(--color-gold);
  transition-duration: var(--transition-duration);
}
.transformed__tab-button.active {
  color: var(--color-gold);
  font-weight: 300;
}
.transformed__tab-button.active::after {
  width: 100%;
}
@media (any-hover: hover) {
  .transformed__tab-button:hover {
    color: var(--color-gold);
  }
  .transformed__tab-button:hover::after {
    width: 100%;
  }
}
@media (any-hover: none) {
  .transformed__tab-button:active {
    color: var(--color-gold);
  }
  .transformed__tab-button:active::after {
    width: 100%;
  }
}
.transformed__tab-content {
  display: none;
}
.transformed__tab-content.active {
  display: block;
}

.trust-us {
  padding: 6.25rem 0rem;
}
@media (width <= 47.99875rem) {
  .trust-us {
    padding: 3.125rem 0rem;
  }
}
.trust-us__inner {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
}
@media (width <= 47.99875rem) {
  .trust-us__inner {
    gap: 2rem;
  }
}
.trust-us__inner h2 {
  position: relative;
  padding-left: 10.3125rem;
}
@media (width <= 47.99875rem) {
  .trust-us__inner h2 {
    padding-left: 6.25rem;
  }
}
.trust-us__inner h2::before {
  content: "";
  background-image: url(../images/transformed__svg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 18.25rem;
  height: 7rem;
}
@media (width <= 47.99875rem) {
  .trust-us__inner h2::before {
    bottom: 0;
    width: 9.375rem;
    height: 3.75rem;
    top: -30px;
  }
}
.trust-us__body {
  display: flex;
  height: 400px;
  flex-wrap: wrap;
}
@media (width <= 63.99875rem) {
  .trust-us__body {
    height: auto;
  }
}
@media (width <= 47.99875rem) {
  .trust-us__body {
    gap: 1.5rem;
  }
}
.trust-us__body--column {
  flex: 1 1 50%;
  border-right: none;
  display: flex;
}
@media (width <= 47.99875rem) {
  .trust-us__body--column {
    flex: 1 1 100%;
    min-width: 200px;
  }
}
.trust-us__body--column:not(:has(.trust-us__body--image)) {
  flex: 1 1 25%;
  border-right: var(--border);
}
@media (width <= 47.99875rem) {
  .trust-us__body--column:not(:has(.trust-us__body--image)) {
    flex: 1 1 calc(50% - 12px);
  }
}
.trust-us__body--column-text {
  font-size: clamp(0.875rem, 0.7821428571rem + 0.380952381vw, 1.125rem);
}
.trust-us__body--column-number {
  font-size: clamp(2rem, 1.1178571429rem + 3.619047619vw, 4.375rem);
  text-transform: uppercase;
}
.trust-us__body--column--center {
  padding-left: 1.5rem;
}
@media (width <= 47.99875rem) {
  .trust-us__body--column--center {
    padding-left: 0rem;
  }
}
.trust-us__body--content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 1.25rem;
}
.trust-us__body--image {
  max-width: 306px;
  width: 100%;
  position: relative;
  height: 100%;
  flex-shrink: 0;
  margin-right: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 1.25rem;
  display: flex;
  flex-direction: column;
}
@media (width <= 63.99875rem) {
  .trust-us__body--image {
    max-width: 200px;
  }
}
@media (width <= 47.99875rem) {
  .trust-us__body--image {
    flex: 1 1 50%;
    height: 200px;
    max-width: 200px;
    flex-shrink: 0;
  }
}
.trust-us__body--image-img::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
}
.trust-us__body--image img {
  height: 100%;
  position: absolute;
  inset: 0;
}
.trust-us__body--image .trust-us__body--column-text,
.trust-us__body--image .trust-us__body--column-number {
  color: var(--color-light);
  position: relative;
  z-index: 2;
}
.trust-us__body--image .trust-us__body--column-number {
  margin-top: auto;
}

/*# sourceMappingURL=main.css.map */
